# https://docs.github.com/ja/actions/reference/workflow-syntax-for-github-actions
name: Test
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - 'benchmark/**'
      - 'bin/**'
      - 'scripts/**'
      - 'sig/**'
      - 'Steepfile'
      - '**.md'
      - '*LICENSE*'
      - 'logo.png'
      - '.yardopts'
      - '.editorconfig'
      - '.rubocop.yml'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'benchmark/**'
      - 'bin/**'
      - 'scripts/**'
      - 'sig/**'
      - 'Steepfile'
      - '**.md'
      - '*LICENSE*'
      - 'logo.png'
      - '.yardopts'
      - '.editorconfig'
      - '.rubocop.yml'
jobs:
  test_behaviors:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        # Due to https://github.com/actions/runner/issues/849, we have to use quotes for '3.0'
        ruby: [head, '3.2', '3.1', '3.0', '2.7']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      env:
        BUNDLE_WITHOUT: development
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - run: bundle exec rake test_behaviors
      env:
        BUNDLE_WITHOUT: development
